{% extends "admin/base_admin.html" %}
{% block title %}Добавить новость — Админка{% endblock %}

{% block admin_content %}
<h2>Добавить новость</h2>
<form action="/admin/news/add" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label>Заголовок:</label>
        <input type="text" name="title" required>
    </div>
    <div class="form-group">
        <label>Описание:</label>
        <textarea name="description" required></textarea>
    </div>
    <div class="form-group">
        <label>Дата:</label>
        <input type="text" name="date" placeholder="дд/мм/гггг" required>
    </div>
    <div class="form-group">
        <label>Загрузить изображение:</label>
        <input type="file" name="image">
        <p><strong>или</strong> укажите URL изображения ниже</p>
    </div>
    <div class="form-group">
        <label>URL изображения:</label>
        <input type="text" name="image_path" placeholder="https://example.com/image.jpg"> 
    </div>
    <button type="submit" class="btn">Добавить новость</button>
</form>
{% endblock %}