{% extends "base.html" %}
{% block title %}Страница не найдена — 404{% endblock %}

{% block content %}
<main>
    <div class="page-content" style="margin-top: 0px;">
        <div class="content-404">
            <h1 class="page404">404</h1>
            <div class="title404">ТАКОЙ СТРАНИЦЫ НЕ СУЩЕСТВУЕТ</div>
            <div class="button-2 form-submit-button">
                <a href="/">
                    <div class="btn-404 submit-button">НА ГЛАВНУЮ</div>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}