{% extends "base.html" %}
{% block title %}Заказные перевозки — ПАТП №1 Вологда{% endblock %}

{% block content %}
<main class="page-content">
    <div class="container">
        <nav class="breadcrumbs">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/service">Услуги</a></li>
                <li><span>Заказные перевозки</span></li>
            </ul>
        </nav>
        <div class="content-inner">
            <h1>Заказные перевозки</h1>
            <div class="service-description">
                <p>
                    Заказные перевозки — одна из самых популярных услуг, предлагаемая ПАТП № 1. На нашем предприятии вы можете арендовать автобус для самых разных целей.
                </p>
                <br>
                <p>
                    Аренда транспорта в ПАТП № 1 выгодна по нескольким причинам:
                </p>
                <ul class="advantages-list">
                    <li>Гибкие цены;</li>
                    <li>Индивидуальный подход;</li>
                    <li>Автобусы различной вместимости и комфортности;</li>
                    <li>Страховка пассажиров;</li>
                    <li>Опытные водители-профессионалы;</li>
                    <li>Всегда исправная техника.</li>
                </ul>
            </div>
            <div class="services-grid">
                <div class="service-card">
                    <img src="/static/images/staff.jpg" alt="Доставка работников">
                    <h3>Доставка работников</h3>
                    <p>Служебный автобус — настоящее спасение для организаций, расположенных за городом и в неудобных местах, или для сотрудников, чьи смены не попадают в часы работы общественного транспорта (например, ночные).</p>
                    <a href="/support" class="service-btn">Заказать</a>
                </div>
                <div class="service-card">
                    <img src="/static/images/marry.jpg" alt="Аренда автобуса на свадьбу">
                    <h3>Аренда автобуса на свадьбу</h3>
                    <p>Широкому торжеству не обойтись без хорошей транспортной поддержки. Автобус станет идеальным вариантом для перевозки множества гостей.</p>
                    <a href="/support" class="service-btn">Заказать</a>
                </div>
                <div class="service-card">
                    <img src="/static/images/perevoz.jpg" alt="Перевозка к местам проведения корпоративного отдыха">
                    <h3>Перевозка к местам проведения корпоративного отдыха</h3>
                    <p>Это незаменимая услуга для компаний, которые любят проводить выездные корпоративы. Это удобно и выгодно, ведь при выезде, например, на природу автобус можно загрузить не только людьми.</p>
                    <a href="/support" class="service-btn">Заказать</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}