{% extends "base.html" %}
{% block title %}Документы — ПАТП №1 Вологда{% endblock %}

{% block content %}
<main class="page-content">
    <div class="container">
        <nav class="breadcrumbs">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/about-us">О компании</a></li>
                <li><span>Документы</span></li>
            </ul>
        </nav>
        <div class="content-inner">
            <h1>Документы</h1>

            <!-- Список документов -->
            <section class="documents-list">
                <div class="document-item">
                    <a href="/uploads/О реорганизации МУП.pdf">
                        <h3>О реорганизации МУП городского округа города Вологды "ПАТП №1" путем преобразования в акционерное общество "ПАТП №1"</h3>
                    </a>
                </div>

                <div class="document-item">
                    <a href="/uploads/Политика в отношении обработки персональных данных">
                        <h3>Политика в отношении обработки персональных данных</h3>
                    </a>
                </div>

                <div class="document-item">
                    <a href="/uploads/Корпоративная программа по укреплению здоровья.pdf">
                        <h3>Корпоративная программа по укреплению здоровья МУП "ПАТП №1"</h3>
                    </a>
                </div>

                <div class="document-item">
                    <a href="/uploads/Паспорт доступности транспортного средста для пассажиров из числа инвалидов_ЛиАЗ529267.pdf">
                        <h3>Паспорт доступности транспортного средства для пассажиров из числа инвалидов (ЛиАЗ529267)</h3>
                    </a>
                </div>

                <div class="document-item">
                    <a href="/uploads/Паспорт доступности услуги по перевозке пассажиров автомобильным (наземным электрическим) транспортом в городском сообщении для пассажиров из числа инвалидов.pdf">
                        <h3>Паспорт доступности услуги по перевозке пассажиров автомобильным (наземным электрическим) транспортом в городском сообщении для пассажиров из числа инвалидов</h3>
                    </a>
                </div>

                <div class="document-item">
                    <h3>Уведомление о страховании ответственности перевозчика</h3>
                    <p>
                        АО «ПАТП №1» уведомляет, что ОТВЕТСТВЕННОСТЬ ПЕРЕВОЗЧИКА ПО ОБЯЗАТЕЛЬСТВАМ, ВОЗНИКАЮЩИМ ПРИ ПЕРЕВОЗКЕ ПАССАЖИРОВ, ЗАСТРАХОВАНА.
                        При наступлении страхового события необходимо обратиться в АО «ПАТП №1», а также в офис Филиала АО «СОГАЗ» в г. Вологда:
                    </p>
                    <ul>
                        <li><strong>Адрес:</strong> 160035, Вологодская обл., г. Вологда, ул. С. Орлова, д. 4.</li>
                        <li><strong>Телефон:</strong> 8 (800) 333-0-888; 8 (8202) 202-375.</li>
                        <li><strong>Факс:</strong> 8 (8202) 202-375.</li>
                        <li><strong>E-mail:</strong> <a href="mailto:sogaz@sogaz.ru">sogaz@sogaz.ru</a></li>
                    </ul>
                </div>

                <div class="document-item">
                    <h3>Договор обязательного страхования гражданской ответственности перевозчика за причинение вреда жизни, здоровью, имуществу пассажиров № GAZX22345881242000 от 23.05.2023</h3>
                    <p>Срок действия: с 26.05.2023 – 25.05.2024 г.</p>
                </div>

                <div class="document-item">
                    <h3>Договор обязательного страхования гражданской ответственности перевозчика за причинение вреда жизни, здоровью, имуществу пассажиров № GAZX22370642878000 от 19.07.2023</h3>
                    <p>Срок действия: с 19.07.2023 – 18.07.2024 г.</p>
                </div>

                <div class="document-item">
                    <h3>Договор обязательного страхования гражданской ответственности перевозчика за причинение вреда жизни, здоровью, имуществу пассажиров № GAZX22328297119000 от 18.09.2023</h3>
                    <p>Срок действия: с 29.09.2023 – 28.09.2024 г.</p>
                </div>

                <div class="document-item">
                    <h3>Договор обязательного страхования гражданской ответственности перевозчика за причинение вреда жизни, здоровью, имуществу пассажиров № GAZX22458094126000 от 15.01.2024</h3>
                    <p>Срок действия: с 15.01.2024 – 14.01.2025 г.</p>
                </div>
            </section>
        </div>
    </div>
</main>
{% endblock %}