<footer>
    <div class="footer-inner">
        <div class="footer-up">
            <div class="container ds-flx">
                <div class="footer-block">
                    <div class="title-footer">О нас</div>
                    <div class="about-footer">
                        <div class="footer-list">
                            <div class="contact-item">
                                <img src="/static/images/phone-fff.svg" alt="">
                                <div><a href="tel:+78172556670">+7 (8172) 55-66-70</a></div>
                            </div>
                            <div class="contact-item">
                                <img src="/static/images/time-fff.svg" alt="">
                                <div>ПН-ПТ 08:00-17:00</div>
                            </div>
                            <div class="contact-item">
                                <img src="/static/images/email-fff.svg" alt="">
                                <div><a href="mailto:mail@mupatp1.ru">mail@mupatp1.ru</a></div>
                            </div>
                            <div class="contact-item">
                                <img src="/static/images/geo-fff.svg" alt="">
                                <div><a href="#contact">ул. Мудрова, 31, Вологда</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-block">
                    <div class="title-footer">Последние публикации</div>
                    <div class="footer-list">
                        <a href="/news">
                            <div class="last-news">
                                <img src="/static/images/news-item-1.png" alt="">
                                <div class="last-news-item">
                                    <div class="last-news-title">В учебном классе ПАТП-1 в Вологде прошла встреча специалистов центра занятости с представителями компании.</div>
                                    <div class="last-news-date">17/01/2025</div>
                                </div>
                            </div>
                        </a>
                        <a href="/news">
                            <div class="last-news">
                                <img src="/static/images/news-item-3.png" alt="">
                                <div class="last-news-item">
                                    <div class="last-news-title">ПАТП №1 ждёт женщин-водителей на работу! И если кто скажет, что водитель — это не женская работа, то это вовсе не так.</div>
                                    <div class="last-news-date">22/01/2025</div>
                                </div>
                            </div>
                        </a>
                        <a href="/news">
                            <div class="last-news">
                                <img src="/static/images/news-item-2.jpeg" alt="">
                                <div class="last-news-item">
                                    <div class="last-news-title">Для более комфортной и быстрой оплаты во всех трёхдверных автобусах ПАТП № 1 будут работать четыре терминала.</div>
                                    <div class="last-news-date">07/02/2025</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="company-item">
                    <a href="https://vk.com/patp1vologda"  class="vk-icon">
                        <img src="/static/images/vk.svg" alt="VK" class="vk-default">
                        <img src="/static/images/vk-fff.svg" alt="VK White" class="vk-hover">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-low">
            <div class="container">
                <div class="nav">
                    <ul class="nav-list">
                        <a href="/schedule" class="nav-item">Расписание</a>
                        <a href="/price" class="nav-item">Оплата проезда</a>
                        <a href="/service" class="nav-item">Услуги</a>
                        <a href="/work" class="nav-item">Работа у нас</a>
                        <a href="https://yc.mupatp1.ru"  class="nav-item">Учебный центр</a>
                        <a href="/about-us" class="nav-item">О компании</a>
                        <a href="/official-information" class="nav-item">Официальная информация</a>
                        <a href="/your-ticket" class="nav-item">Ваш билет</a>
                    </ul>
                    <ul class="copyright">
                        ©2025 Rogalev
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>