<header class="header">
    <div class="header-inner">
        <div class="container">
            <div class="nav">
                <ul class="logo">
                    <a href="/">
                        <img src="/static/images/logo.png" alt="logo">
                    </a>
                </ul>
                <button class="menu-toggle">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
                <ul class="nav-list">
                    <li class="nav-item dropdown">
                        <a href="/schedule">Расписание</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://citybus35.ru">Умный  транспорт</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/payment">Оплата проезда</a>
                        <ul class="dropdown-menu">
                            <li><a href="/price">Стоимость проезда</a></li>
                            <li><a href="https://bilet.nspk.ru">Оплата  банковской картой</a></li>
                            <li><a href="https://e-vologda.com">Электронная  Вологда</a></li>
                            <li><a href="https://t-karta.ru">История  поездок (кабинет)</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/service">Услуги</a>
                        <ul class="dropdown-menu">
                            <li><a href="/charter">Заказные перевозки</a></li>
                            <li><a href="/passenger">Пассажирские перевозки</a></li>
                            <li><a href="/children">Перевозка детей</a></li>
                        </ul>
                    </li>
                    <a href="/work" class="nav-item">Работа у нас</a>
                    <a href="https://yc.mupatp1.ru"  class="nav-item">Учебный центр</a>
                    <li class="nav-item dropdown">
                        <a href="/about-us">О компании</a>
                        <ul class="dropdown-menu">
                            <li><a href="/news">Новости</a></li>
                            <li><a href="/documents">Документы</a></li>
                            <li><a href="/anti-corruption">Противодействие коррупции</a></li>
                            <li><a href="/contact">Контакты</a></li>
                            <li><a href="https://вашбилет.рф">Ваш  билет</a></li>
                            <li><a href="/autopark">Автопарк</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/official-information">Официальная информация</a>
                        <ul class="dropdown-menu">
                            <li><a href="/info-for-police-vologda">Информация от <br> прокуратуры г. Вологды</a></li>
                        </ul>
                    </li>
                    <a href="/your-ticket" class="nav-item">Ваш билет</a>
                </ul>
            </div>
        </div>
    </div>
</header>