{% extends "base.html" %}
{% block title %}Главная страница — ПАТП №1 Вологда{% endblock %}

{% block content %}
<main>
    <div class="main-inner">
        <div class="banner">
            <div class="container">
                <div class="banner-inner">
                    <h1>Пассажирские автобусные перевозки по Вологде и пригороду</h1>
                    <div class="text">Занимаемся перевозками в Вологде. Предприятие осуществляет регулярные
                        перевозки пассажиров автобусами в городском и пригородном сообщении.</div>
                </div>
                <div class="stats">
                    <div class="stats-inner">
                        <div class="stats-item">
                            <div class="num">15</div>
                            <div class="text-2">маршрутов</div>
                        </div>
                        <div class="stats-item">
                            <div class="num">178</div>
                            <div class="text-2">протяженность </div>
                            <div class="text-2">маршрутной сети</div>
                        </div>
                        <div class="stats-item">
                            <div class="num">130</div>
                            <div class="text-2">автобусов в парке</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ad">
            <div class="container">
                <div class="ad-inner">
                    <div class="text-3">Забронируй автобус на новогодние праздники со скидкой 20%</div>
                    <div class="btn-ad"><a href="/service">Подробнее</a></div>
                </div>
            </div>
        </div>
        <div class="news">
            <div class="container">
                <div class="title">Новости</div>
                <div class="slider">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="news-item">
                                    <img src="/static/images/news-item-1.png" />
                                    <span>17/01/2025</span>
                                    <div class="news-title">
                                        <div class="news-disk">В учебном классе ПАТП-1 в Вологде прошла встреча
                                            специалистов центра занятости с представителями компании.</div>
                                    </div>
                                    <div class="more"><a href="/news">Подробнее...</a></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news-item">
                                    <img src="/static/images/news-item-2.jpeg" />
                                    <span>17/01/2025</span>
                                    <div class="news-title">
                                        <div class="news-disk">Для более комфортной и быстрой оплаты во всех
                                            трёхдверных автобусах ПАТП № 1 будут работать четыре терминала.</div>
                                    </div>
                                    <div class="more"><a href="/news">Подробнее...</a></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news-item">
                                    <img src="/static/images/news-item-3.png" />
                                    <span>17/01/2025</span>
                                    <div class="news-title">
                                        <div class="news-disk">ПАТП №1 ждёт женщин-водителей на работу! И если кто
                                            скажет, что водитель — это не женская работа, то это вовсе не так.</div>
                                    </div>
                                    <div class="more"><a href="/news">Подробнее...</a></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news-item">
                                    <img src="/static/images/news-item-4.jpg" />
                                    <span>17/01/2025</span>
                                    <div class="news-title">
                                        <div class="news-disk">Изменения в расписании движения маршрута № 4</div>
                                    </div>
                                    <div class="more"><a href="/news">Подробнее...</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="advantages">
            <div class="container">
                <div class="title">Наши преимущества</div>
                <div class="advantages-inner">
                    <div class="advantages-item">
                        <div class="advng-svg"> <span>1</span>
                            <img src="/static/images/clock.svg" alt="">
                            <div class="advantages-title">Бронируйте</div>
                            <div class="advantages-disk">Выберите дату, время и забронируйте место у нас на сайте.
                            </div>
                        </div>
                    </div>
                    <div class="advantages-item">
                        <div class="advng-svg"> <span>2</span>
                            <img src="/static/images/busik.svg" alt="">
                            <div class="advantages-title">Свой автопарк</div>
                            <div class="advantages-disk">В нашем парке туристические автобусы марки KING LONG,
                                SCANIA.</div>
                        </div>
                    </div>
                    <div class="advantages-item">
                        <div class="advng-svg"> <span>3</span>
                            <img src="/static/images/people.svg" alt="">
                            <div class="advantages-title">Комфортные места</div>
                            <div class="advantages-disk">Автобусы оборудованы всем необходимым</div>
                        </div>
                    </div>
                    <div class="advantages-item">
                        <div class="advng-svg"> <span>4</span>
                            <img src="/static/images/money.svg" alt="">
                            <div class="advantages-title">Есть онлайн оплата</div>
                            <div class="advantages-disk">Оплатите удобным для Вас способом</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="support"></div>
        <div class="support contact-form-redesign">
            <div class="container">
                <div class="title">Обратная связь</div>
                <div class="support-inner">
                    <div class="support-item">
                        <form class="ajax_form" id="contact-form" action="https://www.mupatp1.ru/"  method="post">
                            <div class="form-list">
                                <div class="form-item-1">
                                    <label for="name">Ваше имя*</label>
                                    <input type="text" id="name" name="name" placeholder="Иван Иванов" required>
                                </div>
                                <div class="form-item-1">
                                    <label for="email">Ваш E-mail*</label>
                                    <input type="email" id="email" name="email" placeholder="ivanov@email.ru" required>
                                </div>
                                <div class="form-item-2">
                                    <label for="telephone">Телефон*</label>
                                    <input type="tel" id="telephone" name="telephone" placeholder="+7 (900) 000 00-00" required>
                                </div>
                            </div>
                            <div class="qustions">
                                <label for="subject">Тема сообщения</label>
                                <input type="text" id="subject" name="subject" placeholder="Тема вашего сообщения">
                                <label for="message">Ваш вопрос*</label>
                                <textarea id="message" name="message" placeholder="Ваше обращение" class="text-area" required></textarea>
                            </div>
                            <div class="privacy-agreement">
                                <label for="privacy-check">
                                    <input type="checkbox" id="privacy-check" required>
                                    Соглашаюсь c условиями <a href="/uploads/mupatp_politic.pdf"
                                        target="_blank">политики конфиденциальности и обработки персональных данных</a>
                                </label>
                            </div>
                            <input type="hidden" name="af_action" value="bff488fefbbdef3c710c96225bf623d5">
                        </form>
                        <div class="button-2 form-submit-button">
                            <a href="#">
                                <div class="btn-form submit-button">Задать вопрос</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ad-2">
            <div class="container">
                <div class="ad-inner-2">
                    <div class="ad-list">
                        <div class="ad-item-1">Хотите работать с нами</div>
                        <div class="ad-item-2">Оставьте заявку и мы свяжемся с вами!</div>
                    </div>
                    <div class="btn-ad" style="margin-top: 0px;">
                        <a href="#support">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact" id="contact">
            <div class="container">
                <div class="title">Контакты</div>
                <div class="contact-inner">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9587f892a3dfb1a18d864a4609ce5f818307b53cc09b08a6dccb932016a1cab7&amp;source=constructor" width="1280" height="720" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}