{% extends "base.html" %}
{% block title %}Информация от Прокуратуры г. Вологда — ПАТП №1 Вологда{% endblock %}

{% block content %}
<main class="page-content">
    <div class="container">
        <nav class="breadcrumbs">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/official-information">Официальная информация</a></li>
                <li><span>Информация от Прокуратуры г. Вологды</span></li>
            </ul>
        </nav>
        <div class="content-inner">
            <h1>Информация от Прокуратуры г. Вологда</h1>

            <!-- Список документов -->
            <section class="official-information-list">
                <div class="document-item">
                    <a href="/uploads/">
                        Разъяснения Прокуратуры от 28.11.2023
                    </a>
                </div>
                <div class="document-item">
                    <a href="/uploads/">
                        Разъяснения Прокуратуры от 26.10.2023
                    </a>
                </div>
                <div class="document-item">
                    <a href="/uploads/">
                        О применении специальных экономических мер в финансовой и топливно-энергетической сферах
                    </a>
                </div>
                <div class="document-item">
                    <a href="/uploads/">
                        Об ответственности за сотрудничество с иностранным государством или иностранной организацией
                    </a>
                </div>
                <div class="document-item">
                    <a href="https://vk.com/video/@patp1vologda?z=video-170941768_456239056%2Fclub170941768%2Fpl_-170941768_-2">
                        Видеоролик по профилактике падения детей из окон "Открытые окна"
                    </a>
                </div>
                <div class="document-item">
                    <a href="/uploads/">
                        Школьников бесплатно обучат языкам программирования
                    </a>
                </div>
                <div class="document-item">
                    <a href="/uploads/">
                        Продлены меры господдержки семей, имеющих детей, в части погашения обязательств по ипотечным жилищным кредитам (займам)
                    </a>
                </div>
            </section>
        </div>
    </div>
</main>
{% endblock %}