{% extends "base.html" %}
{% block title %}Официальная информация — ПАТП №1 Вологда{% endblock %}

{% block content %}
<main class="page-content">
    <div class="container">
        <nav class="breadcrumbs">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><span>Официальная информация</span></li>
            </ul>
        </nav>
        <div class="content-inner">
            <h1>Официальная информация</h1>

            <!-- Список документов -->
            <section class="official-information-list">
                <div class="document-item">
                    <a href="/uploads/Материалы по предупреждению и пресечению коррупционных проявлений.pdf">
                        Материалы по предупреждению и пресечению коррупционных проявлений
                    </a>
                </div>

                <div class="document-item">
                    <a href="https://vologda.gosuslugi.ru/ofitsialno/dokumenty/dokumenty-all_5044.html"> 
                        О реорганизации МУП городского округа города Вологды "ПАТП №1" путем преобразования в акционерное общество "ПАТП №1"
                    </a>
                </div>

                <div class="document-item">
                    <a href="/uploads/Электронное удостоверение ветерана боевых действий «СВОи».pdf">
                        Электронное удостоверение ветерана боевых действий «СВОи»
                    </a>
                </div>

                <div class="document-item">
                    <a href="/uploads/Минздрав_Такzdorovo.ru.pdf">
                        Минздрав_Такzdorovo.ru
                    </a>
                </div>

                <div class="document-item">
                    <a href="/uploads/Военная служба по контракту в войсках Росгвардии.pdf">
                        Военная служба по контракту в войсках Росгвардии
                    </a>
                </div>

                <div class="document-item">
                    <a href="/uploads/Федеральный путеводитель субъектов РФ.pdf">
                        Информация о формировании Федерального путеводителя жителей субъектов РФ "Регионы России - людям"
                    </a>
                </div>

                <div class="document-item">
                    <a href="/uploads/Рекомендации РОСПОТРЕБНАДЗОРА по профилактике гриппа, орви и короновирусной инфекции.jpg">
                        Рекомендации РОСПОТРЕБНАДЗОРА по профилактике гриппа, ОРВИ и коронавирусной инфекции
                    </a>
                </div>

                <div class="document-item">
                    <a href="/uploads/Официальное обращение Председателя Экспертного совета Нагайцева А.А..pdf">
                        Официальное обращение Председателя Экспертного совета Нагайцева А.А. "Вакцинация нации - сила государства!"
                    </a>
                </div>

                <div class="document-item">
                    <a href="/uploads/Осторожно! Мошенники!.jpg">
                        Осторожно! Мошенники!
                    </a>
                </div>

                <div class="document-item">
                    <h3>За 30 секунд проверьте, возбуждено ли в отношении вас исполнительное производство</h3>
                    <p>
                        Воспользуйтесь услугой <strong>"Предоставление информации по находящимся на исполнении исполнительным производствам в отношении физических и юридических лиц"</strong>:
                    </p>
                    <ul>
                        <li>Зайдите на портал <a href="https://www.gosuslugi.ru/"  target="_blank">https://www.gosuslugi.ru/</a></li> 
                        <li>Закажите услугу «Предоставление информации о ходе исполнительного производства (онлайн)»</li>
                    </ul>
                    <p>
                        Перейдите по ссылке: 
                        <a href="https://www.gosuslugi.ru/10003/9/info"  target="_blank">
                            www.gosuslugi.ru/10003/9/info
                        </a>
                    </p>
                </div>

                <div class="document-item">
                    <h3>У вас есть вопросы к приставу? Экономьте своё время!</h3>
                    <p>
                        Подайте электронное обращение через портал Госуслуг.
                    </p>
                    <p>
                        Воспользуйтесь услугой:
                        <strong>"Подача заявлений, ходатайств, объяснений, отводов, жалоб в порядке подчиненности по исполнительному производству"</strong>
                    </p>
                    <ul>
                        <li>Зайдите на портал</li>
                        <li>Выберите в Каталоге услуг раздел «Безопасность и правопорядок», категорию «Судебная задолженность»</li>
                        <li>Закажите услугу «Предоставление информации о ходе исполнительного производства (онлайн)»</li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</main>
{% endblock %}