{% extends "base.html" %}
{% block title %}Работа у нас — ПАТП №1 Вологда{% endblock %}

{% block content %}
    <main class="page-content">
        <div class="container">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><span>Работа у нас</span></li>
                </ul>
            </nav>
            <div class="content-inner">
                <h1>Работа у нас</h1>
                <div class="service-description">
                    <p>
                        АО «ПАТП №1» - это надежное и стабильное предприятие с большой историей, уверенным настоящим и
                        ясным будущим. В крепкий и сплоченный трудовой коллектив ПАТП № 1 сегодня входит порядка 500
                        человек. Это водители, слесари, кондукторы, диспетчеры, медики, административный персонал.
                        Многие из работников имеют стаж работы на предприятии более 20 лет. И все без исключения наши
                        сотрудники - настоящие мастера своего дела!
                    </p>
                    <h2>Обучение</h2>
                    <ul class="training-list">
                        <li><a href="https://yc.mupatp1.ru">Обучение на водителя автобуса </a></li>
                        <li><a href="/uploads/doc/ПАТП_трол.jpg">Обучение на водителя троллейбуса</a></li>
                    </ul>
                    <h2>Список вакансий</h2>
                    <p>
                        Двери ПАТП № 1 всегда открыты для всех желающих - как специалистов своего дела, так и для тех,
                        кто еще только желает освоить новую, важную и всегда востребованную профессию.
                    </p>
                </div>

                <!-- Слайдер с вакансиями -->
                <div class="vacancy-slider">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <!-- Вакансия 1 -->
                            <div class="swiper-slide">
                                <div class="vacancy-card">
                                    <img src="/static/images/driver-maneuver.png" alt="Водитель маневровых работ">
                                    <h3>Водитель маневровых работ - слесарь</h3>
                                    <p>
                                        Наличие Категории «Троллейбус». Сменный график, 2*2, (с 08.00 до 20.00; с 20.00
                                        до 08.00).<br>
                                        Оформление по ТК РФ, полный соцпакет, доставка на работу и с работы служебным
                                        транспортом, бесплатный проезд по городу.
                                    </p>
                                    <p><strong>Заработная плата:</strong> от 35 000,00 рублей.</p>
                                    <p><strong>Телефон:</strong> 8-963-356-25-39</p>
                                    <a href="/support" class="vacancy-btn">Оставить заявку</a>
                                </div>
                            </div>
                            <!-- Вакансия 2 -->
                            <div class="swiper-slide">
                                <div class="vacancy-card">
                                    <img src="/static/images/trolleybus-driver.png" alt="Водитель троллейбуса">
                                    <h3>Водитель троллейбуса регулярных городских пассажирских маршрутов</h3>
                                    <p>
                                        Оформление по ТК РФ, полный соцпакет, доставка на работу и с работы служебным
                                        транспортом, бесплатный проезд по городу, сменный график, дополнительный отпуск.
                                    </p>
                                    <p><strong>Заработная плата:</strong> от 82 000 рублей.</p>
                                    <p><strong>Телефон:</strong> 8-963-356-25-39</p>
                                    <a href="/support" class="vacancy-btn">Оставить заявку</a>
                                </div>
                            </div>
                            <!-- Вакансия 3 -->
                            <div class="swiper-slide">
                                <div class="vacancy-card">
                                    <img src="/static/images/tech-assistance-driver.png" alt="Водитель техпомощи">
                                    <h3>Водитель транспортного средства категорий С, С1, СЕ, С1Е (водитель техпомощи)
                                    </h3>
                                    <p>
                                        Оформление по ТК РФ, отпуск 35 дней, полный соцпакет, доставка на работу и с
                                        работы служебным транспортом, бесплатный проезд по городу. Компенсация 5 тыс.
                                        руб. в месяц для иногородних на оплату жилья. Режим работы сменный 2*2 (с 06.00
                                        до 18.00; с 13.00 до 01.00 часов).<br>
                                        Требования – водительское удостоверение категорий С, С1, СЕ, С1Е.
                                    </p>
                                    <p><strong>Заработная плата:</strong> от 45 000 рублей.</p>
                                    <p><strong>Телефон:</strong> 8-963-356-25-39</p>
                                    <a href="/support" class="vacancy-btn">Оставить заявку</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Карточки с категориями вакансий -->
                <div class="vacancy-categories">
                    <div class="vacancy-category">
                        <img src="/static/images/tech-helper.jpg" alt="Технические работники">
                        <h3>Технические работники</h3>
                        <p>Мы ищем специалистов для обслуживания и ремонта автобусов.</p>
                        <a href="/support" class="vacancy-btn">Оставить заявку</a>
                    </div>
                    <div class="vacancy-category">
                        <img src="/static/images/driver.jpg" alt="Водители">
                        <h3>Водители</h3>
                        <p>Присоединяйтесь к нашей команде профессиональных водителей.</p>
                        <a href="/support" class="vacancy-btn">Оставить заявку</a>
                    </div>
                    <div class="vacancy-category">
                        <img src="/static/images/administration.jpg" alt="Прочее">
                        <h3>Прочее</h3>
                        <p>Другие вакансии для административного и вспомогательного персонала.</p>
                        <a href="/support" class="vacancy-btn">Оставить заявку</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}